* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url('image/background.jpg') no-repeat center;
	background-size: cover;
}

body::before {
	background-image: rgba(0, 0, 0, 0.7);
}

.logo {
	text-align: center;
	color: #fff;
	font-size: 32px;
	margin-bottom: 60px;
}

.int-area {
	width: 400px;
	position: relative;
	margin-top: 20px;
}

.int-area: first-child {
	margin-top: 0;
}
.int-area input {
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	font-size: 18px;
	color: #fff;
	outline: none;
}

.int-area label {
	position: absolute;
	left: 10px;
	top: 15px;
	font-size: 18px;
	color: #cef279;
	transition: all 0.5s ease;
}

.int-area label.warning {
	color: red !important;
	animation: warning 0.3s ease;
	animation-iteration-count: 3;
}

@keyframes warning {
	0% {
		transform: translateY(-8px);
	}
	25% {
		transform: translateY(8px);
	}
	50% {
		transform: translateY(-8px);
	}
	75% {
		transform: translateY(8px);
	}
}
.int-area input:focus + label,
.int-area input:valid + label {
	top: -2px;
	font-size: 13px;
	color: #cef279;
}

.btn-area {
	margin-top: 30px;
}
.btn-area button {
	width: 100%;
	height: 50px;
	background: #166cea;
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

.caption {
	margin-top: 20px;
	text-align: center;
}

.caption a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	background: #86E57F;
	border-radius: 25px;
	padding: 10px 100px 10px;
	text-align: center;
}
